*.idea
*.iml
.gradle
.DS_Store
/build
/gameCenter/build
/library/build
/slidingmenu_library/build
/theOneSupportv4/build
/thinkAndroid_src/build
/trineaandroidcommon/build
/viewpagerindicator_library/build
/local.properties
/gameCenter/class_files.txt
/gameCenter/mapping.txt
/gameCenter/seeds.txt
/gameCenter/unused.txt
gameCenter/gradle/wrapper/gradle-wrapper.jar
gameCenter/gradle/wrapper/gradle-wrapper.properties
gameCenter/gradlew
gameCenter/gradlew.bat
gameCenter/local.properties
gameCenter/libs/armeabi-v7a/libPatcher.so
gameCenter/libs/armeabi/libPatcher.so
gameCenter/libs/mips/libPatcher.so
gameCenter/libs/x86/libPatcher.so
